<div class="chatbot-page">
  <h1>Shushan Village Chatbot</h1>

  <div class="chat-container">
    <div class="chat-message" *ngFor="let message of messages">
      <ng-container *ngIf="message.from_user">
        <div class="message-avatar" >
          <img src="../assets/user_icon.png" alt="User Avatar" />
        </div>
      </ng-container>

      <ng-container *ngIf="!message.from_user">
        <div class="message-avatar" >
          <img src="../assets/org_logo.png" alt="Organization Avatar" />
        </div>
      </ng-container>

      <div class="message-content">
        <p class="message-text">{{ message.content }}</p>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input type="text" [(ngModel)]="newMessage" placeholder="Enter here..." (keydown.enter)="send_message()">
    <button (click)="send_message()">Send</button>
  </div>
</div>
